.btn{
    background-color:  rgb(176, 92, 255);
    color:black;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 3%;
    height: 6.5%;
}
.btn:hover{
    background-color: blueviolet;
}
