
*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    
}

.container{
    min-height: 50vh;
    display:flex;
    justify-content:center;
    align-items: left;
    flex-direction: column;
    
}

.card{
    height: 500px;
    width: 300px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.top_part{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.circle{
    display: flex
}

.circle span{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:rgb(185, 110, 255);
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.circle span:hover{
    border: 2px solid #cf94ff;
    background-color: blueviolet
}

.top_part small{
    height: 25px;
    width: 25px;
    background-color: #efefef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.top_part small i{
    margin-top: 2px;
    cursor: pointer;
    transition: all 0.5s
}

.fa-heart{
    color:red;
    margin-top: 2px
}

.image{
    display: flex;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    justify-content: center;
    align-items: center
}

image img{
    object-fit: cover;
    width: 10px;
    height: 50px;
    margin-bottom:30px;
    border-radius: 5%;
}
.vitamin{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: rgb(176, 92, 255);
    margin-top: 5%;
}
.vitamin h2{
    margin-bottom: 5%;

}
.size p{
    font-size:12px;
    font-weight:700;
    color:#ffffff
}
.size h5{
    margin-top:10px;
    color:#ffffff;
    margin-bottom: 5%;

}
.size span{
    color: rgb(176, 92, 255);
    padding: 0.25em;
    background-color: black;
    border-radius: 3.0%;

}
.buttons{
    display:flex;
    gap:10px;
    margin-top:10px
}
.buttons button{
    width:100%;
    height:40px;
    border:none;
    border-radius:30px;
    cursor:pointer
}
.buttons button p{
    font-size:10px
}

.card h4{
    margin-top:10px
}
.gender{
    margin-top:10px;
    display:flex;
    gap:10px;
    justify-content:center;
    align-items:center;
  
}
.gender span{
    height:35px;
    width:230px;
    background-color:blueviolet;
    border-radius:20px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    cursor:pointer;
    transition:all 0.5s;
    font-weight:700;
    color:#ffffff
}
.gender span:hover{
    background-color:rgb(64, 0, 124);

}
.last_buttons{
    display:flex;
    justify-content:space-between;
    margin-top:20px
}
.qty_btn{
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;width:270px;
    border-radius:25px;
    background-color:blueviolet;
    font-size:15px;
    cursor:pointer;
    transition:all 0.5s;   
     color:#fff;

}
.qty_btn:hover{
    background-color:rgb(64, 0, 124)
}
.qty_btn p{
    padding:0 15px;
    font-weight:700
}
.money_bag{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 70px;
}
.money_bag h3{
    color: rgb(176, 92, 255);
    padding: 0.25em;
    background-color: black;
    border-radius: 3.0%;
    
}
.money_bag button{
    height:45px;
    width:200px;
    background-color:blueviolet;
    border:none;
    border-radius:25px;
    font-size:12.5px;
    color:#fff;
    cursor:pointer;
    transition:all 0.5s
}
.money_bag button:hover{
    background-color:rgb(64, 0, 124)
}
.money_bag button i{
    margin-right:5px;
    color:#fff;

}