.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em;
}
.home_container > h1 {
  font-size: 2.5em;
  margin-bottom: 1.5em;

}

.home_container h1 span{
  color: blueviolet;
  padding: 0. 25em;
  background-color: darkorange;
}
.home_container h2 {
  margin-bottom: 1.5em;
  color: blueviolet;
}
.home_container img {
  width: 350px;
  margin: 2.0em;
}