.header {
    color: black;
    background-color: black;
}

.header > h1 {
    font-size: 300%;
    background-color: black;
    color: rgb(176, 92, 255);
    padding: 25px 5px 25px 25px;
    text-align: center;

}

.header > h6 {
    margin-left: 90%;

}