.header {
    background-color: black;
    text-align: center;
 
}

.header > h1 {
    font-size: 300%;
    color: rgb(176, 92, 255);
    margin-left: 0%;
    margin-right: 0%;
    padding: 25px 5px 25px 25px;

}
