.header {
    color: black;
    background-color: black;
    padding: 3em;
    text-align: right;

}

.header > h2 {
    font-size: 25px;
    background-color: black;
    color: rgb(176, 92, 255);
    padding: 25px 5px 25px 25px;
    text-align: left;
    display: inline;

}

.header > h3 {
    font-size: 25px;
    background-color: black;
    color: rgb(176, 92, 255);
    padding: 25px 5px 25px 25px;
    text-align: left;
    display: inline;

}