.footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 3em;
    text-align: center;
}
.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
    padding: 0.5em;
}

.social_list li:hover {
    color: rgb(176, 92, 255);
}

.social_list_svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 1em;
}

.copy_right span {
    font-weight: bold;
    color: blueviolet;
}